@model SnakeEyesGame.Models.SnakeEyes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet"/>
    <title>Snake eyes game</title>
</head>
<body>
    <h1>Snake eyes</h1>
    <p>Keep going but don't get 2 one's</p>
    <span class="SnakeEye">@Model.Eye1</span>
    <span class="SnakeEye">@Model.Eye2</span>
    <p>Total : @Model.Total</p>
</body>
</html>
