@model SnakeEyesGame.Models.SnakeEyes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Snake eyes game</title>
</head>
<body>
    <h1>Snake eyes</h1>
    <p>Keep going but don't get 2 one's</p>
    <p>@Model.Eye1</p>
    <p>@Model.Eye2</p>
    <p>Total : @Model.Total</p>
</body>
</html>
